<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" verbose="2" >
  <test thread-count="5" name="WebTest">
  <parameter name="Email" value="*********@gmail.com"></parameter>
  <parameter name="Password" value="*********"></parameter>
  <parameter name="Search1" value="Iphone"></parameter>
  <parameter name="Search2" value="Smart watch"></parameter>
  
    <classes>
      <class name="webAppTest.AmazonApp"/>
      <class name="webAppTest.AmazonApp2"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
